<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret Underprojekt</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<h2>Opret Underprojekt</h2>
<div class="container">
    <form action="/createdSubProject" method="POST" th:object="${subProject}">
        <input type="hidden" name="projectId" th:value="${projectId}" />
        <label for="subProjectName">Navn på Underprojekt</label><br>
        <input class="input-field" id="subProjectName" name="subProjectName" th:field="*{subProjectName}" placeholder="Underprojektnavn"><br>

        <label for="subProjectDescription">Beskrivelse</label><br>
        <textarea class="input-field" id="subProjectDescription" name="subProjectDescription" th:field="*{subProjectDescription}" rows="4" cols="50" placeholder="Beskrivelse"></textarea><br>

        <p>
            <label for="startDate">Startdato</label><br>
            <input class="input-field" id="startDate" name="startDate" type="date" th:field="*{subProjectStartDate}" placeholder="Startdato"><br>
        </p>
        <p>
            <label for="endDate">Slutdato</label><br>
            <input class="input-field" id="endDate" name="endDate" type="date" th:field="*{subProjectEndDate}" placeholder="Slutdato"><br>
        </p>
        <p>
            <label for="subProjectStatus">Status</label><br>
            <input class="input-field" id="subProjectStatus" name="subProjectStatus" th:field="*{subProjectStatus}" placeholder="Status"><br>
        </p>
        <p>
            <button type="submit">Opret nyt underprojekt</button>
        </p>
    </form>
</div>

<a th:if="${chosenProject != null}" th:href="@{'/createSubProject/' + ${chosenProject.projectId}}">
    <button type="button">Tilbage til Valgt Projekt</button>
</a>

</body>
</html>
