<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Subproject</title>
    <link th:href="@{/projectStyleSheet.css}" rel="stylesheet">
</head>
<body>
<h2>Create Subproject</h2>
<div class="container">
    <form action="/createdSubProject" method="POST" th:object="${subProject}">

        <p>
            <label for="subProjectName">Name of Subproject</label><br>
            <input class="input-field" id="subProjectName" name="subProjectName" th:field="*{subProjectName}" placeholder="Subproject name"><br>
        </p>
        <p>
            <label for="subProjectDescription">Description</label><br>
            <textarea class="input-field" id="subProjectDescription" name="subProjectDescription" th:field="*{subProjectDescription}" rows="4" cols="50" placeholder="Description"></textarea><br>
        </p>
        <p>
            <label for="startDate">Start Date</label><br>
            <input class="input-field" id="startDate" name="startDate" type="date" th:field="*{subProjectStartDate}" placeholder="Start date"><br>
        </p>
        <p>
            <label for="endDate">End Date</label><br>
            <input class="input-field" id="endDate" name="endDate" type="date" th:field="*{subProjectEndDate}" placeholder="End date"><br>
        </p>

        <p>
            <label for="subProjectStatus">Status</label><br>
            <input class="input-field" id="subProjectStatus" name="subProjectStatus" th:field="*{subProjectStatus}" placeholder="Status"><br>
        </p>

        <p>
            <button class="submit-button" type="submit">Create Subproject</button>
        </p>

    </form>
</div>

<a th:if="${chosenProject != null}" th:href="@{'/chosenProject/' + ${chosenProject.projectName}}">
    <button type="button">Back to Chosen Project</button>
</a>



</body>
</html>
