<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/projectStyleSheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rediger Delprojekt</title>
</head>
<body>
<h2>Rediger Delprojekt</h2>
<h3>Delprojekt Detaljer</h3>
<div th:if="${editSubProject != null}">
    <p>Delprojekt Navn: <span th:text="${editSubProject.subProjectName}"></span></p>
    <p>Beskrivelse:</p>
    <p>
        <span th:if="${editSubProject.subProjectDescription != null}" th:text="${editSubProject.subProjectDescription}"></span>
    </p>
    <p>Start Dato: <span th:text="${#temporals.format(editSubProject.subProjectStartDate, 'yyyy-MM-dd')}"></span></p>
    <p>Slut Dato: <span th:text="${#temporals.format(editSubProject.subProjectEndDate, 'yyyy-MM-dd')}"></span></p>

    <form th:action="@{'/editSubProject/' + ${editSubProject.projectId}}" th:object="${editSubProject}" method="post">
        <input type="hidden" th:field="*{projectId}" />

        <label for="subProjectDescription">Beskrivelse:</label><br>
        <textarea id="subProjectDescription" name="subProjectDescription" th:field="*{subProjectDescription}"></textarea>

        <button type="submit">Opdater</button>
    </form>

</div>

<a th:if="${projectName != null}" th:href="@{'/chosenProject/' + ${projectName}}">
    <button type="button">Tilbage til Valgt Projekt</button>
</a>
</body>
</html>
