<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../static/errorStyleSheet.css">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/errorStyleSheet.css}" rel="stylesheet">
    <title>Fejlside</title>
</head>
<body>
<h1>En fejl opstod!</h1>
<p>Beklager, noget gik galt.</p>
<a th:href="@{/}" style="text-decoration: none;">Tilbage til Hjem</a>
<form action="/error" method="GET"></form>
</body>


<footer class="logo-middle">
    <div class="footer-content">
        <div class="contact-info">
            <p>Kontakt os:</p>
            <p>Email: AlphasolutionStudent@Examproject.com</p>
            <p>Telefon: +45 1234 5678</p>
        </div>
        <div class="logo-bottom-right">
            <img src="https://dynamicweb.com/Admin/Public/GetImage.ashx?image=%2FFiles%2FImages%2FPartners%2FAlpha+Solutions%2FAlphasolutions_web.png&width=640&format=webp" alt="Logo">
        </div>
    </div>
</footer>
</html>
