<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/welcomePage.css}" rel="stylesheet">
    <title>Hjemmeside</title>
</head>

<body>
<h2>Velkommen til Projektopdeling</h2>
<p>Du kan oprette et nyt projekt ved at klikke på knappen nedenfor for at hjælpe med at opdele dit projekt:</p>

<a class="button" href="/create">Opret Nyt Projekt</a>

<footer class="logo-middle">
    <div class="footer-content">
        <div class="contact-info">
                <p>Kontakt os:</p>
            <p>Email: info@example.com</p>
            <p>Telefon: +45 1234 5678</p>
        </div>
        <div class="logo-bottom-right">
            <img src="https://dynamicweb.com/Admin/Public/GetImage.ashx?image=%2FFiles%2FImages%2FPartners%2FAlpha+Solutions%2FAlphasolutions_web.png&width=640&format=webp" alt="Logo">
        </div>
    </div>
</footer>
</body>
</html>