<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/welcomePage.css}" rel="stylesheet">
    <title>Hjemmeside</title>
</head>
<body>
<h2>Velkommen til Projektopdeling</h2>
<p>Du kan oprette et nyt projekt ved at klikke på linket nedenfor for at hjælpe med at opdele dit projekt:</p>
<a class="button" href="/create">Opret Nyt Projekt</a>
</body>
</html>
