<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style.css}" rel="stylesheet">
    <title>Registrering</title>
</head>
<body>
<header>
    <h1>Alpha Solution</h1>
</header>

<main style="text-align: center;">
    <div>
        <h2>Tilmeld dig her</h2>
        <form th:action="@{/newRegistration}" method="post">
            <label>
                <input type="text" name="firstName" placeholder="Fornavn" required>
            </label> <br><br>
            <label>
                <input type="text" name="lastName" placeholder="Efternavn" required>
            </label> <br><br>
            <label>
                <input type="email" name="username" placeholder="Email" required>
            </label> <br><br>
            <label>
                <input type="password" name="userPassword" placeholder="Adgangskode" required>
            </label> <br><br>
            <button type="submit">Tilmeld</button>
        </form>
        <br>
        <p>Har du allerede en konto? <a th:href="@{/login}">Log ind her</a></p>
    </div>
    <footer class="logo-middle">
        <div class="footer-content">
            <div class="contact-info">
                <p>Kontakt os:</p>
                <p>E-mail: AlphasolutionStudent@Examproject.com</p>
                <p>Telefon: +45 1234 5678</p>
            </div>
            <div class="logo-bottom-right">
                <img src="https://dynamicweb.com/Admin/Public/GetImage.ashx?image=%2FFiles%2FImages%2FPartners%2FAlpha+Solutions%2FAlphasolutions_web.png&width=640&format=webp" alt="Logo">
            </div>
        </div>
    </footer>
</main>
</body>
</html>
