<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/projectStyleSheet.css}" rel="stylesheet">
    <title>Vis task</title>
</head>
<body>
<h2>Liste over tasks</h2>

<table border="1">
    <tr>
        <th>Task ID</th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Start Dato</th>
        <th>Slut Dato</th>
        <th>Tids Estimat</th>
        <th>Slet task</th>
        <th>Rediger task</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.taskId}"></td>
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.taskDescription}"></td>
        <td th:text="${#temporals.format(task.taskStartDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${#temporals.format(task.taskEndDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${task.timeEstimate}"></td>
        <td>
            <form th:action="@{'/tasks/' + ${task.taskName} + '/delete'}" method="post" onsubmit="return confirm('Er du sikker på, at du vil slette task?');">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">Slet</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/tasks/' + ${task.taskName} + '/editTask'}" method="get">
                <button type="submit">Rediger</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>
