<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style.css}" rel="stylesheet">
    <title>Vis Projekter</title>
</head>
<body>
<h2>Liste over Projekter</h2>
</a>

<table border="1">
    <tr>
        <th>Projekt ID</th>
        <th>Projektnavn</th>
        <th>Beskrivelse</th>
        <th>Startdato</th>
        <th>Slutdato</th>
        <th>Slet projekt</th>
        <th>Stam informationer</th>
        <th>Vælg projekt</th>
    </tr>
    <tr th:each="project : ${projects}">
        <td th:text="${project.projectId}"></td>
        <td th:text="${project.projectName}"></td>
        <td th:text="${project.projectDescription}"></td>
        <td th:text="${#temporals.format(project.startDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${#temporals.format(project.endDate, 'yyyy-MM-dd')}"></td>
        <td>
            <form th:action="@{/deleteProject/{projectId}(projectId=${project.projectId})}" method="post" onsubmit="return confirm('Er du sikker på, at du vil slette projektet?');">
                <button type="submit" class="button">Slet</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/' + ${project.projectId} + '/editProject'}" method="get">
                <button type="submit" class="button">Rediger</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/chosenProject/' + ${project.projectId}}" method="get">
                <button type="submit" class="button">Vælg Projekt</button>
            </form>
        </td>
    </tr>
</table>

<a th:href="@{/create}" class="logo-middle">
    <button type="submit" class="button">Opret Nyt Projekt</button>
</a>

</body>
</html>
