
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/projectStyleSheet.css}" rel="stylesheet">
    <title>Show Projects</title>
</head>
<body>
<h2>List of Projects</h2>

<table border="1">
    <tr>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    <tr th:each="project : ${projects}">
        <td th:text="${project.project_id}"></td>
        <td th:text="${project.projectName}"></td>
        <td th:text="${project.description}"></td>
        <td th:text="${#dates.format(project.startDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${#dates.format(project.endDate, 'yyyy-MM-dd')}"></td>
    </tr>
</table>

</body>
</html>
